*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
background:linear-gradient(120deg,#74ebd5,#ACB6E5);
display:flex;
justify-content:center;
align-items:center;
}

.form-container{
background:#fff;
width:450px;
padding:30px;
border-radius:10px;
box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

h2{
text-align:center;
margin-bottom:20px;
color:#333;
}

.field{
margin-bottom:12px;
}

input,select{
width:100%;
padding:10px;
border-radius:5px;
border:1px solid #ccc;
outline:none;
}

input:focus,select:focus{
border-color:#74ebd5;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:6px;
background:#74ebd5;
font-size:15px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#5ad3bd;
}

.error{
font-size:11px;
color:red;
}
